html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

b, strong, optgroup {
  font-weight: 700;
}

pre, textarea {
  overflow: auto;
}

button::-moz-focus-inner, input::-moz-focus-inner, legend {
  border: 0;
  padding: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  background: black;
}

div.credit {
  width: 50%;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}
div.credit a {
  text-decoration: none;
  color: black;
  background: white;
  padding: 4px;
  border: 3px solid white;
  border-radius: 3px;
  transition: all 0.2s;
}
div.credit a:hover {
  color: white;
  background: #2E8A68;
}

div.help {
  margin: 200px auto;
  width: 50%;
  background: black;
  border: 10px solid white;
  border-radius: 5px;
  position: relative;
  z-index: 400;
}
div.help p {
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 50px;
}
div.help a {
  margin: 0 0 20px 42%;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #2D5C86;
  border: 3px solid white;
  border-radius: 5px;
  padding: 15px;
  transition: all 0.2s;
}
div.help a:hover {
  background: #2E8A68;
}

div.spotlight {
  width: 150px;
  height: 150px;
  background: url(images/wheresWaldo1.jpg);
  background-attachment: fixed;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 400px;
  left: 600px;
  z-index: 300;
}

div.gallery {
  max-width: 900px;
  width: 90%;
  height: 100px;
  position: absolute;
  bottom: 20px;
  left: 20%;
}
div.gallery .background {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 35px;
  border: 5px solid slategrey;
  border-radius: 3px;
}
div.gallery .background1 {
  background: url(images/wheresWaldo1.jpg);
  background-size: cover;
}
div.gallery .background2 {
  background: url(images/wheresWaldo2.jpg);
  background-size: cover;
}
div.gallery .background3 {
  background: url(images/wheresWaldo3.jpg);
  background-size: cover;
}
div.gallery .background4 {
  background: url(images/wheresWaldo4.jpg);
  background-size: cover;
}
div.gallery .background5 {
  background: url(images/wheresWaldo5.jpg);
  background-size: cover;
}
div.gallery .current {
  border: 5px solid white;
}
